body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#231942, #be95c4);
    color: #c0fdff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px #001233;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #57cc99;
    margin-bottom: 10px;
}

#bday-age {
    background: #57cc99;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #57cc99;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-cheer:hover {
    background-image: url("images/cheeringbaby.gif");
}

#gift-img-cute:hover {
    background-image: url("images/socute.gif");
}

#gift-img-adorable:hover {
    background-image: url("images/adorable.gif");
}

#gift-img-treat:hover {
    background-image: url("images/treat.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cake.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #c0fdff;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/